body {
    font-family: Arial, sans-serif;
    background-color: #1c7cdc;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.to-do-list {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#taskInput {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
}

#addTask {
    padding: 10px;
}

#taskList {
    list-style: none;
    padding: 0;
}

li {
    background-color: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}
